Repository Eviber/zappy, pull requests merged in 2023-11, with the labels that each got.

#1 Add `#[must_use]` attributes to custom futures.
  crates/ft-async/src/futures/basic.rs
  crates/ft-async/src/futures/io.rs
  crates/ft-async/src/lib.rs
Labels: enhancement

#3 Initial implementation of the `ft-log` crate.
  Cargo.lock
  crates/ft-log/Cargo.toml
  crates/ft-log/src/lib.rs
  crates/server/Cargo.toml
  crates/server/src/main.rs
Labels: enhancement, common-lib

#2 Add Drop impl for Connection
  crates/server/src/server.rs
Labels: enhancement, server

#7 Add lints to the crates.
  crates/client/src/main.rs
  crates/ft-async/src/executor/task_waker.rs
  crates/ft-async/src/lib.rs
  crates/ft-log/src/lib.rs
  crates/server/src/main.rs
Labels: enhancement

#8 Add EventSet struct
  crates/ft-async/src/executor/task_waker.rs
Labels: enhancement, common-lib

#10 Basic handshake example & client abstraction.
  Cargo.lock
  crates/ft-async/Cargo.toml
  crates/ft-async/src/futures/io.rs
  crates/server/Cargo.toml
  crates/server/src/client.rs
  crates/server/src/main.rs
  crates/server/src/server.rs
Labels: enhancement, server

#11 Clippy pass
  crates/ft-async/src/executor/task_list.rs
  crates/ft-async/src/executor/task_waker.rs
  crates/ft-log/src/lib.rs
Labels: server, client, gui, common-lib

#12 Parse command-line arguments for the server.
  Cargo.lock
  crates/server/src/args.rs
  crates/server/src/main.rs
  crates/server/src/usage.txt
Labels: enhancement, server

#35 Implement basic parsing for client requests, as well as a way to schedule those commands
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/client/Cargo.toml
  crates/client/src/main.rs
  crates/ft-async/src/futures/io.rs
  crates/ft-async/src/futures/mod.rs
  crates/ft-async/src/futures/time.rs
  crates/ft-log/src/lib.rs
  crates/server/Cargo.toml
  crates/server/src/client.rs
  crates/server/src/main.rs
  crates/server/src/player/error.rs
  crates/server/src/player/mod.rs
  crates/server/src/player/sender.rs
  crates/server/src/state/mod.rs
  crates/server/src/state/world.rs
Labels: enhancement, server, common-lib

#50 Basic Client with some server abstractions
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/src/args.rs
  crates/client/src/main.rs
  crates/client/src/server.rs
  crates/client/src/server/commands.rs
  crates/client/src/server/errors.rs
Labels: enhancement, client

#54 Fix client handshake
  crates/client/src/server.rs
Labels: bug, client
